---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCardPublication from "../components/HorizontalCardPublication.astro";
const baseUrl = import.meta.env.BASE_URL;
---

<BaseLayout title = "Research & Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Research</div>
  </div>

  <!-- Publications -->
  <HorizontalCardPublication
    badge="ICSE 2026"
    title="TestWeaver: Execution-aware, Feedback-driven Regression Testing Generation with Large Language Models"
    authors={["Cuong Chi Le", "Cuong Duc Van", "Tung Duy Vu", "Minh V. T. Pham", "Hoang Nhat Phan", "Huy Nhat Phan", "Tien N Nguyen"]}
    author_index={0}
    img=""
    abstract=""
    url="#"
  />

  <HorizontalCardPublication
    badge="ICSE 2026"
    title="SWE-Synth: Synthesizing Verifiable Bug-Fix Data to Enable Large Language Models in Resolving Real-World Bugs"
    authors={["Minh V. T. Pham", "Huy N. Phan", "Hoang Nhat Phan", "Cuong Chi Le", "Tien N. Nguyen", "Nghi D. Q. Bui"]}
    author_index={3}
    img=""
    abstract=""
    url="#"
  />

  <HorizontalCardPublication
    badge="Findings of NAACL 2025"
    title="VisualCoder: Guiding Large Language Models in Code Execution with Fine-grained Multimodal Chain-of-Thought Reasoning"
    authors={["Cuong Chi Le", "Hoang-Chau Truong-Vinh", "Huy Nhat Phan", "Dung Duy Le", "Tien N. Nguyen", "Nghi D. Q. Bui"]}
    author_index={0}
    img=""
    abstract=""
    url="#"
  />

  <HorizontalCardPublication
    badge="FORGE 2025"
    title="CodeFlow: Program Behavior Prediction with Dynamic Dependencies Learning"
    authors={["Cuong Chi Le", "Hoang Nhat Phan", "Huy Nhat Phan", "Tien N. Nguyen", "Nghi D. Q. Bui"]}
    author_index={0}
    img=""
    abstract=""
    url="#"
  />

  <!-- Preprints -->
  <HorizontalCardPublication
    badge="Under Review - ACL 2026"
    title="SpecMind: Cognitively Inspired, Interactive Multi-Turn Framework for Postcondition Inference"
    authors={["Cuong Chi Le", "Minh V. T. Pham", "Tung Duy Vu", "Cuong Duc Van", "Hoang Nhat Phan", "Huy Nhat Phan", "Tien N. Nguyen"]}
    author_index={0}
    img=""
    abstract=""
    url="#"
  />

  <HorizontalCardPublication
    badge="Under Review - ISSTA 2026"
    title="When Names Disappear: Revealing What LLMs Actually Understand About Code"
    authors={["Cuong Chi Le", "Minh V. T. Pham", "Cuong Duc Van", "Hoang N Phan", "Huy N Phan", "Tien N. Nguyen"]}
    author_index={0}
    img=""
    abstract=""
    url="#"
  />

  <HorizontalCardPublication
    badge="Under Review - FSE Tool Demo 2026"
    title="VizLint: An Automated Web UI Bug Detection Tool with Fine-Grained Visual Cueing"
    authors={["Cuong Chi Le", "Hoang Nhat Phan", "Huy Nhat Phan", "Minh V. T. Pham", "Tien N. Nguyen"]}
    author_index={0}
    img=""
    abstract=""
    url="#"
  />
</BaseLayout>
