---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCardPublication from "../components/HorizontalCardPublication.astro";
const baseUrl = import.meta.env.BASE_URL;
---

<BaseLayout title = "Research & Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Research</div>
  </div>

  <HorizontalCardPublication
    badge="Preprint"
    title="Revealing Fine Structure in Protoplanetary Disks with Physics Constrained Neural Fields"
    authors={["Aviad Levis", "Nhan Luong", "Richard Teague", "Katherine. L. Bouman", "Marcelo Barraza-Alfaro", "Kevin Flaherty"]}
    author_index={1}
    img={`${baseUrl}images/projects/radjax.jpg`}
    abstract="Protoplanetary disks are the birthplaces of planets, and resolving their three-dimensional structure is key to understanding disk evolution. The unprecedented resolution of ALMA demands modeling approaches that capture features beyond the reach of traditional methods. We introduce a computational framework that integrates physics-constrained neural fields with differentiable rendering and present RadJAX, a GPU-accelerated, fully differentiable line radiative transfer solver achieving up to 10,000x speedups over conventional ray tracers, enabling previously intractable, high-dimensional neural reconstructions. Applied to ALMA CO observations of HD 163296, this framework recovers the vertical morphology of the CO-rich layer, revealing a pronounced narrowing and flattening of the emission surface beyond 400 au - a feature missed by existing approaches. Our work establish a new paradigm for extracting complex disk structure and advancing our understanding of protoplanetary evolution."
    url="https://arxiv.org/abs/2509.03623"
  />
</BaseLayout>
